.markdownRenderer {
    opacity: 0;
    animation: fadeIn ease 1s forwards;
    color: var(--text-primary);
}
  

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
  
    100% {
        opacity: 1;
    }
}