.container {
    display: flex;
    color: var(--text-primary);
    min-height: 100px;
    margin: 10px 0;
    background-color: #444654;
    width: 100%;
    padding: 20px 50px;
}

.avatar {
    width: 40px;
    height: 40px;
    border-radius: 5px;
    background-color: #4AA181;
    margin-right: 20px;
}

.avatar.userAvatar {
    background-color: #533723;
}

.chunkedMessage {
    display: flex;
    flex-wrap: wrap;
    line-height: 25px;
}

.chunk {
    margin-right: 4px;
}

.message {
    display: flex;
    color: var(--text-primary);
    min-height: 100px;
    margin: 10px 0;
}