.container {
    display: flex;
    color: var(--text-primary);
    min-height: 60px;
    margin: 10px 0;
    background-color: #444654;
    width: 100%;
    padding: 20px 50px;
}

.container.sender {
    background-color: rbg(var(--background-rgb));
}

.avatar {
    min-width: 40px;
    height: 40px;
    border-radius: 5px;
    background-color: #4AA181;
    margin-right: 20px;
}

.avatar.userAvatar {
    background-color: #533723;
}

.message {
    margin-left: 20px;
    margin-right: 50px;
}
